<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        @page { size: A4 landscape;}
    </style>
</head>
<body style="width: 100%">
<table style="padding-top: 2px; width: 100%">
    <td style="text-align: right; width: 20%">
        <img src="../images/logo.png" style="width: 80px; height: 80px"></img>
    </td>
    <td style="text-align: left; vertical-align: middle; width: 80%">
        <span style="font-family: 'Arial Black'; font-size: 50px; color: navy;" >DOMINION CITY ACADEMY</span>
    </td>
 </table>
<hr style="background-color: cornflowerblue; height: 4px; padding: 0; margin: 0"/>
<div style="text-align: center; width: 100%; padding-top: 20px">
    <h1> Certificate of Completion</h1>
    <p>This document certifies that</p>
    <div style="background-color: cornflowerblue; height: 50px">
        <span style="font-weight: bolder; font-size: 40px" th:text="${name}"></span>
    </div>
    <p>Has completed the following Levels of our training courses :</p>
    <h3>DCA Basic</h3>
    <h3>DCA Maturity</h3>
    <p>with student registration number no - <span th:text="${ref}"></span></p>
    <p><span th:text="${date}"></span></p>
</div>
<table style="padding-top: 10px; width: 100%">
    <td>
        <div style="background-color: cornflowerblue; height: 50px; text-align: center; margin-bottom: 0">
            <img src="https://w7.pngwing.com/pngs/513/203/png-transparent-signature-signature-love-miscellaneous-angle-thumbnail.png" style="width: 50px; height: 50px"></img>
        </div>
        <h2 style="text-align: center;margin-top: 0">CHAPTER PASTOR</h2>
    </td>
    <td style="text-align: center;vertical-align: top">
        <img src="https://cdn.vectorstock.com/i/500p/87/22/red-seal-vector-1458722.jpg" style="width: 120px; height: 120px"></img>
    </td>
    <td style="text-align: right;vertical-align: top">
        <div style="background-color: cornflowerblue; height: 50px; text-align: center; margin-bottom: 0">
            <span>
            <img src="https://w7.pngwing.com/pngs/513/203/png-transparent-signature-signature-love-miscellaneous-angle-thumbnail.png" style="width: 50px; height: 50px"></img></span>
        </div>
        <h2 style="text-align: center; margin-top: 0">DCA PRINCIPAL</h2>
    </td>
</table>
<div style="text-align: center; padding-top: 15px"><p1 >Raising leaders that transform society</p1></div>
</body>
</html>