<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        @page { size: A4 landscape;}
    </style>
</head>
<body style="width: 100%">
<div style="margin: 8px; border: darkgoldenrod 3px solid;">
    <h3 style="text-align: right; margin-bottom: 0"> CERTIFICATE REFERENCE : <span th:text="${ref}" style="color: darkgoldenrod"></span></h3>
    <table style="padding-top: 0; width: 100%">
        <td style="text-align: right; width: 23%">
            <img th:src="${logo} == null ? _ : @{'data:image/png;base64,'+${logo}}" style="width: 80px; height: 80px"></img>
        </td>
        <td style="text-align: left; vertical-align: middle; width: 77%">
            <span style="font-family: 'Arial Black'; font-size: 50px; color: #00369A;" >DOMINION CITY ACADEMY</span>
        </td>
     </table>
    <hr style="background-color: cornflowerblue; height: 4px; padding: 0; margin: 0"/>
    <div style="text-align: center; width: 100%; padding-top: 25px">
        <h1> Certificate of Completion</h1>
        <p>This document certifies that</p>
        <div style="background-color: cornflowerblue; height: 50px">
            <span style="font-weight: bolder; font-size: 40px" th:text="${name}"></span>
        </div>
        <p>Has completed the following Levels of our training courses :</p>
        <h3>DCA Basic</h3>
        <h3>DCA Advanced</h3>
        <p> in <span th:text="${chapter}"></span> Chapter with Registration number - <span th:text="${ref}"></span> and Graduating Grade - <span th:text="${grade}"></span>%</p>
        <p><span th:text="${date}"></span></p>
    </div>
    <table style="padding-top: 10px; width: 100%">
        <td style="width: 35%; margin-right: 0">
            <div style="text-align: center; margin-bottom: 0">
                <img th:src="${pasSign} == null ? _ : @{'data:image/png;base64,'+${pasSign}}" style="width: 50px; height: 50px;"></img>
                <hr style="background-color: cornflowerblue; height: 3px; padding: 0; margin: 0"/>
            </div>
            <h2 style="text-align: center;margin-top: 0">CHAPTER PASTOR</h2>
        </td>
        <td style="text-align: center; vertical-align: top; width: 30%">
            <img th:src="${stamp} == null ? _ : @{'data:image/png;base64,'+${stamp}}" style="width: 100%; height: 100px"></img>
        </td>
        <td style="text-align: right;vertical-align: top; width: 35%; margin-left: 0">
            <div style="text-align: center; margin-bottom: 0">
                <span>
                <img th:src="${priSign} == null ? _ : @{'data:image/png;base64,'+${priSign}}"  style="width: 50px; height: 50px"></img></span>
                <hr style="background-color: cornflowerblue; height: 3px; padding: 0; margin: 0"/>
            </div>
            <h2 style="text-align: center; margin-top: 0">DCA PRINCIPAL</h2>
        </td>
    </table>
    <div style="text-align: center; padding-top: 10px; font-weight: bold "><p1 >....Raising leaders that transform society</p1></div>
</div>
</body>
</html>